@font-face {
  font-family: "Woodland-light";
  src: url("/fonts/woodland-light.otf");
  src: url("/fonts/woodland-light.woff") format("woff"),
  url("/fonts/woodland-light.otf") format("opentype")
}

@font-face {
  font-family: "Woodland-bold";
  src: url("/fonts/woodland-bold.otf");
  src: url("/fonts/woodland-bold.woff") format("woff"),
  url("/fonts/woodland-bold.otf") format("opentype")
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

html, body {
  font-family: "Inter", sans-serif;
}

/* nav styles */
header {
  background: #C32F27;
}

.brand-text, .nav-link {
  color: #fff !important;
}

h1, h2 {
  font-family: 'Fjalla One', sans-serif;
}

#title-container-wrapper{
  background-color: #F7B538;
  align-items: center;
  text-align: center;
}

.custom-shape-divider-bottom-1694620447 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1694620447 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 63px;
}

.custom-shape-divider-bottom-1694620447 .shape-fill {
    fill: #FFFFFF;
}

.title-font{
  font-family: 'Fjalla One', sans-serif;
  font-size: 3.5rem;
  color: #333;
}
span.sub-h1{
  font-family: 'Fjalla One', sans-serif;
  font-size: 2.5rem;
  color: #333;
}

p {
  font-family: "Inter", sans-serif;
}

.banner-img {
  width: 75%;
  display:block;
  margin:0 auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 5px;
}

@media only screen and (max-width:767px) {
  .banner-img {
    width:60%;
    /* box-shadow: 40px 40px 0px -23px rgba(219,173,106,1);
    -webkit-box-shadow: 40px 40px 0px -23px rgba(219,173,106,1);
    -moz-box-shadow: 40px 40px 0px -23px rgba(219,173,106,1); */
  }
  p, ul > li {
    font-size: 16px;
  }
}

.logo-img {
  width: 40%;
  display:inline-block;
  padding:10px;
  margin: 0 auto;
}
@media only screen and (min-width:768px) {
  .logo-img {
    width: 100%;
  }
}
@media only screen and (min-width:992px) {
  .logo-img {
    width: 200px;
  }
}

/* contact form */
.contact-input {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  outline:5px solid transparent
}

.contact-input:focus {
  border: none;
  border-radius: 5px;
  outline: 5px solid #F7B538;
}

.button-img{
  width: 32px;
  margin-right: 10px;
}
.btn-color {
  color: #333;
  border-radius: 5px;
  margin-top:0px;
  border: none;
  outline: 3px solid #F7B538;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.btn-color:hover {
  background-color: #F7B538;
  color:#333;
  border-radius: 5px;
  /* color: #780116; */
  border: none;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.btn-color:focus {
  background-color: #F7B538;
  border: none;
  outline: 5px solid #333;
}

.form-wrapper {
  background-color: #780116;
} 

form h2 {
  color: #fff;
}
/* footer */ 
.footer-style{
  background-color: #F7B538;
  border-top:5px solid #C32F27;
  color: #333;
}

.credit--radio::before {
  content: "🔈";
  margin-right: 15px;
}
.credit--tv::before {
  content: "📺";
  margin-right: 15px;
}
.credit--online::before {
  content: "📱";
  margin-right: 15px;

}

/* cards */
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* old colours 

cinnamon satin: #CE6A85;
sugar plum: #985277;
powder blue: #A9D2D5;
earth yellow: #DBAD6A;
kombu green: #36453B;

*/

/* New colours 

darker red: #780116;
mustard: #F7B538;
mid orange: #DB7C26;
orange organge: #D8572A;
mcdonalds red: #C32F27;

*/